@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Awards>
@using ContentModels = Umbraco.Web.PublishedContentModels;

@{
    Layout = "SiteMaster.cshtml";

    var page = Model.Content;

    var awardsQuary = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("awardPicker");

    
}
    


<div class="row breadcrumbs">
    <div class="container">
        <a href="">HOME</a> // <span class="yellow">AWARDS</span>
    </div>
</div>

<div class="row">
    <div class="container noPadding">
        <div class="awards">
            <div class="center">
                <h1 class="yellow">
                @page.AwardsHeadline
                </h1>
                <p>
                @page.AwardsDescription
                </p>
                        
                <div class="awards-categories">

                    @{

                        foreach (var award in awardsQuary)
                        {

                            var mediaId = award.GetPropertyValue("awardIcon");

                            var icon = Umbraco.Media(1216);

                            var file = icon.UmbracoFile;


                            <div class="category-card">
                                
                                <img src="@file" alt="meme" />
                                
                                1216
                                <h3>
                                    @award.GetPropertyValue("awardTitle")
                                </h3>

                                <p>
                                    @award.GetPropertyValue("awardDescription")
                                </p>

                                <br />

                                <i>
                                    @award.GetPropertyValue("winningCompany")
                                </i>

                                <br />

                                <b>
                                    <a href="http://@award.GetPropertyValue("winningSolution")" alt="@award.GetPropertyValue("awardTitle") winning site from @award.GetPropertyValue("winningCompany")">
                                        @award.GetPropertyValue("winningSolution")
                                    </a>                                    
                                </b>
                            </div>
                        }
                    }

                </div>
                    <div class="vote">
                        <span>
                            <p class="title">
                                @page.VoteHeadline
                            </p>
                            <p>
                                @page.VoteDescription
                            </p>
                        </span>
                        @page.VoteForm
                        <form class="" action="index.html" method="post">
                            <input type="text" name="" value="" placeholder="Vote">
                            <input type="submit" name="" value="vote">
                        </form>
                    </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="container">
        <div class="competition">
            <div class="column">
                <div class="col-md-4">
                    <div class="information">
                        <h1>
                            @page.RulesHeadline
                        </h1>
                        @{
                            if (Model.Content.GetPropertyValue<string[]>("rulesList").Length > 0)
                            {
                                <ul>
                                    <p class="title">Rules</p>
                                    @foreach (var item in Model.Content.GetPropertyValue<string[]>("rulesList"))
                                    {
                                        <li>@item</li>
                                    }
                                </ul>
                            }
                        }
                        @{
                            if (Model.Content.GetPropertyValue<string[]>("datesList").Length > 0)
                            {
                                <ul>
                                    <p class="title">Rules</p>
                                    @foreach (var item in Model.Content.GetPropertyValue<string[]>("datesList"))
                                    {
                                        <li>@item</li>
                                    }
                                </ul>
                            }
                        }
                        @{
                            if (Model.Content.GetPropertyValue<string[]>("notesList").Length > 0)
                            {
                                <ul>
                                    <p class="title">Rules</p>
                                    @foreach (var item in Model.Content.GetPropertyValue<string[]>("notesList"))
                                    {
                                        <li>@item</li>
                                    }
                                </ul>
                            }
                        }
                    </div>
                </div>
                <div class="col-md-7">
                    <form class="competitionForm" action="" method="post">
                        <h1>Codegarden 2017 competition</h1>
                        <p>Now you have all the details, what are you waiting for? Come and show us your best stuff and be in to win an Umbraco Award to bring back and show off to your clients and colleagues. And of course, being an Umbraco Award you can expect the award itself to be something unique and cool that you will want to show off….</p>

                        <div>
                            @Model.Content.GetPropertyValue("joinCompetition")
                            <input type="text" name="" value="" placeholder="Name">
                            <input type="text" name="" value="" placeholder="Email">

                        </div>
                        <div>

                            <input type="text" name="" value="" placeholder="Company name">
                            <select class="select" name="">
                                <option value="">Category</option>
                                @{
                                    foreach (var award in awardsQuary)
                                    {
                                        <option value="">
                                            @award.GetPropertyValue("awardTitle")
                                        </option>
                                    }
                                }
                            </select>

                        </div>
                        <div>

                            <input type="text" name="" value="" placeholder="Solution url">
                            <input type="text" name="" value="" placeholder="Solution name">

                        </div>
                        <textarea placeholder="Message"></textarea>

                        <input type="submit" name="" value="Join the competition">

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
