@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "SiteMaster.cshtml";

    var AllSessions = Model.Content.Site().Descendants<Session>()
        .OrderBy(x => x.SessionDate);



}

@Html.Partial("Banner")
@Html.Partial("Breadcrumbs")

<div class="row">
    <div class="container noPadding">
        <div class="schedule">
            <a class="link-primary" id="personalSchedule" href="">Create your own schedule</a>
            <div class="schedule-desc">

                <div class="schedule-time">
                    <p>TIME</p>
                </div>
                <div class="schedule-card">
                    <p>MAIN ROOM</p>
                </div>
                <div class="schedule-card">
                    <p>BACK ROOM</p>
                </div>
                <div class="schedule-card">
                    <p>ENTRANCE ROOM</p>
                </div>
                <div class="schedule-card">
                    <p>THE STARSHIP</p>
                </div>

            </div>

            @{

                List<string> dates = new List<string>();
                foreach (var session in AllSessions)
                {
                    dates.Add(session.SessionDate);
                }
                dates = new HashSet<string>(dates).ToList();
                foreach (var date in dates)
                {
                    var filterSessions = Model.Content.Site().Descendants<Session>()
                                            .Where(x => x.SessionDate == date);
                    List<string> times = new List<string>();
                    foreach (var singleTime in filterSessions)
                    {
                        times.Add(singleTime.SessionStartTime);
                    }
                    times = new HashSet<string>(times).ToList();
                    <div class="day">
                        @{
                            DateTime formattedDate = DateTime.ParseExact(date, "dd.MM.yyyy", null);
                        }
                        <h3>@formattedDate.ToString("dddd d. MMM yyyy")</h3>
                        @{
                            foreach (var time in times)
                            {
                                <div class="schedule-row">
                                    <div class="schedule-time">@time</div>
                                    @{
                                        var sessions = Model.Content.Site().Descendants<Session>()
                                            .Where(x => x.SessionStartTime == time)
                                            .OrderBy(x => x.SessionVenue)
                                            .ToArray();
                                        if (sessions.Any(x => x.SessionVenue[0] == '1'))
                                        {
                                            foreach (var session in sessions)
                                            {
                                                if (session.SessionVenue[0] == '1')
                                                {
                                                    <div class="schedule-card">
                                                        <span class="desc">

                                                            <a href="@session.Url" class="session" data-id="@session.Id">@session.SessionTitle</a>

                                                            @foreach (var speaker in session.SessionSpeakers)
                                                            {
                                                                <span class="speaker"><a href="@speaker.Url" data-id="@speaker.GetPropertyValue("ID")">@speaker.GetPropertyValue("speakerName")</a></span>
                                                            }

                                                        </span>
                                                        <div class="actions">
                                                            @{
                                                                try
                                                                {
                                                                    <span class="presentation"><a href="@session.SessionPresentation" target="_blank"><img src="/Media/ScheduleIcons/presentation.svg" alt=""></a></span>
                                                                    <span class="spacer"></span>
                                                                    <span class="video"><a href="@session.SessionVideo" target="_blank"><img src="/Media/ScheduleIcons/video.svg" alt=""></a></span>
                                                                }
                                                                catch
                                                                {
                                                                    <span class="presentation"><a href=""><img src="/Media/ScheduleIcons/presentation.svg" alt=""></a></span>
                                                                    <span class="spacer"></span>
                                                                    <span class="video"><a href=""><img src="/Media/ScheduleIcons/video.svg" alt=""></a></span>
                                                                }
                                                            }
                                                            
                                                        </div>
                                                    </div>
                                                }
                                            }
                                        }
                                        else
                                        {
                                            <div class="schedule-card inactive"></div>
                                        }

                                        if (sessions.Any(x => x.SessionVenue[0] == '2'))
                                        {
                                            foreach (var session in sessions)
                                            {
                                                if (session.SessionVenue[0] == '2')
                                                {
                                                    <div class="schedule-card">
                                                        <span class="desc">

                                                            <a href="@session.Url" class="session" data-id="@session.Id">@session.SessionTitle</a>

                                                            @foreach (var speaker in session.SessionSpeakers)
                                                            {
                                                                <span class="speaker"><a href="@speaker.Url" data-id="@speaker.GetPropertyValue("ID")">@speaker.GetPropertyValue("speakerName")</a></span>
                                                            }

                                                        </span>
                                                        <div class="actions">
                                                            @{
                                                                try
                                                                {
                                                                    <span class="presentation"><a href="@session.SessionPresentation" target="_blank"><img src="/Media/ScheduleIcons/presentation.svg" alt=""></a></span>
                                                                    <span class="spacer"></span>
                                                                    <span class="video"><a href="@session.SessionVideo" target="_blank"><img src="/Media/ScheduleIcons/video.svg" alt=""></a></span>
                                                                }
                                                                catch
                                                                {
                                                                    <span class="presentation"><a href=""><img src="/Media/ScheduleIcons/presentation.svg" alt=""></a></span>
                                                                    <span class="spacer"></span>
                                                                    <span class="video"><a href=""><img src="/Media/ScheduleIcons/video.svg" alt=""></a></span>
                                                                }
                                                            }
                                                            
                                                        </div>
                                                    </div>
                                                }
                                            }
                                        }
                                        else
                                        {
                                            <div class="schedule-card inactive"></div>
                                        }

                                        if (sessions.Any(x => x.SessionVenue[0] == '3'))
                                        {
                                            foreach (var session in sessions)
                                            {
                                                if (session.SessionVenue[0] == '3')
                                                {
                                                    <div class="schedule-card">
                                                        <span class="desc">

                                                            <a href="@session.Url" class="session" data-id="@session.Id">@session.SessionTitle</a>

                                                            @foreach (var speaker in session.SessionSpeakers)
                                                            {
                                                                <span class="speaker"><a href="@speaker.Url" data-id="@speaker.GetPropertyValue("ID")">@speaker.GetPropertyValue("speakerName")</a></span>
                                                            }

                                                        </span>
                                                        <div class="actions">
                                                            @{
                                                                try
                                                                {
                                                                    <span class="presentation"><a href="@session.SessionPresentation" target="_blank"><img src="/Media/ScheduleIcons/presentation.svg" alt=""></a></span>
                                                                    <span class="spacer"></span>
                                                                    <span class="video"><a href="@session.SessionVideo" target="_blank"><img src="/Media/ScheduleIcons/video.svg" alt=""></a></span>
                                                                }
                                                                catch
                                                                {
                                                                    <span class="presentation"><a href=""><img src="/Media/ScheduleIcons/presentation.svg" alt=""></a></span>
                                                                    <span class="spacer"></span>
                                                                    <span class="video"><a href=""><img src="/Media/ScheduleIcons/video.svg" alt=""></a></span>
                                                                }
                                                            }
                                                            
                                                        </div>
                                                    </div>
                                                }
                                            }
                                        }
                                        else
                                        {
                                            <div class="schedule-card inactive"></div>
                                        }

                                        if (sessions.Any(x => x.SessionVenue[0] == '4'))
                                        {
                                            foreach (var session in sessions)
                                            {
                                                if (session.SessionVenue[0] == '4')
                                                {
                                                    <div class="schedule-card">
                                                        <span class="desc">

                                                            <a href="@session.Url" class="session" data-id="@session.Id">@session.SessionTitle</a>

                                                            @foreach (var speaker in session.SessionSpeakers)
                                                            {
                                                                <span class="speaker"><a href="@speaker.Url" data-id="@speaker.GetPropertyValue("ID")">@speaker.GetPropertyValue("speakerName")</a></span>
                                                            }

                                                        </span>
                                                        <div class="actions">
                                                            @{
                                                                try
                                                                {
                                                                    <span class="presentation"><a href="@session.SessionPresentation" target="_blank"><img src="/Media/ScheduleIcons/presentation.svg" alt=""></a></span>
                                                                    <span class="spacer"></span>
                                                                    <span class="video"><a href="@session.SessionVideo" target="_blank"><img src="/Media/ScheduleIcons/video.svg" alt=""></a></span>
                                                                }
                                                                catch
                                                                {
                                                                    <span class="presentation"><a href=""><img src="/Media/ScheduleIcons/presentation.svg" alt=""></a></span>
                                                                    <span class="spacer"></span>
                                                                    <span class="video"><a href=""><img src="/Media/ScheduleIcons/video.svg" alt=""></a></span>
                                                                }
                                                            }
                                                            
                                                        </div>
                                                    </div>
                                                }
                                            }
                                        }
                                        else
                                        {
                                            <div class="schedule-card inactive"></div>
                                        }
                                    }
                                </div>
                            }
                        }
                    </div>
                }

            }

        </div>
    </div>
</div>

<div class="personal-container">

    <div class="personal-topbar">

        <div class="container noPadding">

            <p>Your own personal schedule</p>

            <a id="open" href="#">Open</a>
            <a id="close" href="#">close</a>

        </div>

    </div>

    <div class="personal-schedule">

        <img id="pdfBackground" src="~/Media/ScheduleIcons/confetti.png" />

        <a class="btn-secondary download" href="">DOWNLOAD SCHEDULE AS PDF</a>

        <div class="sessionCenter" id="schedulePrint" style="margin: 0 auto;">



        </div>

    </div>

</div>