@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Speakers>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "SiteMaster.cshtml";

    var speakerQuery = Model.Content.Site().Descendants<Speaker>();
    var speakerId = (Request["speakerId"] != null) ? Request["speakerId"] : string.Empty;
    var singleSpeakerQuery = Model.Content.Site().Descendants<Speaker>();
    var sessionQuery = Model.Content.Site().Descendants<Session>();
    if (speakerId != string.Empty)
    {
        singleSpeakerQuery = Model.Content.Site().Descendants<Speaker>().Where(x => x.Id == int.Parse(speakerId));
        sessionQuery = sessionQuery.Where(x => x.SessionSpeakers.Any(i => i.Id == int.Parse(speakerId)));
    };


}

<div class="row page-banner">
    <div class="center">
        <img src="../media/page-banner.jpg" alt="">
        <div class="overlay">
            <h1>Codegarden 2018 speakers</h1>
        </div>
    </div>
</div>
<div class="row breadcrumbs">
    <div class="container">
        <a href="">HOME</a> // <span class="yellow">SPEAKERS</span>
    </div>
</div>
<div class="row">
    <div class="container noPadding">
        <div class="speakers">
            
            @foreach (var speaker in speakerQuery)
            {
                <div class="speaker col-md-3">
                    <a href="?sID=@speaker.Id" @*class="getSpeaker" data-id="1"*@ >
                        @try
                        {
                            <img src="@speaker.SpeakerPicture" alt=""/>                    
                        }
                        finally                   
                        {
                            <img src = "media/1002/CG-placeholder.svg" alt = ""/>
                        }

                        <h3>@speaker.SpeakerName</h3>
                        <p>@speaker.SpeakerTitle</p>
                    </a>
                </div>
            }


        </div>
    </div>
</div>

<div class="modal">
    <a class="close" href="#"><div></div><div></div></a>
    <div class="speaker-profile">
        @foreach (var singleSpeaker in singleSpeakerQuery)
        {
            try
            {
                <img src="@singleSpeaker.SpeakerPicture" alt="" />
            }
            finally
            {
                <img src="media/1002/CG-placeholder.svg" alt="" />
            }

            <h2>@singleSpeaker.SpeakerName</h2>
       
            <p class="title">@singleSpeaker.SpeakerTitle</p>
            <span class="social-links">
                <a href="@singleSpeaker.SpeakerFacebook"><img src="../media/yellow-facebook.svg" alt=""></a>
                <a href="@singleSpeaker.SpeakerLinkedin"><img src="../media/yellow-linkedin.svg" alt=""></a>
                <a href="@singleSpeaker.SpeakerTwitter"><img src="../media/yellow-twitter.svg" alt=""></a>
            </span>

            foreach (var session in sessionQuery)
            {
                <div class="session">
                    <span>@session.SessionDescriptionHeadline</span>
                    <p>@session.SessionDescription</p>
                </div>
            }

            <div class="info">
                <span>@singleSpeaker.SpeakerDescriptionHeadline</span>
                <p>@singleSpeaker.SpeakerDescription</p>
            </div>
         }
    </div>

</div>
<div class="modal-bg"></div>