@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Speakers>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "SiteMaster.cshtml";

    var speakerQuery = Model.Content.Site().Descendants<Speaker>();
    //var sID = (Request["sID"] != null) ? Request["sID"] : string.Empty;
    //var singleSpeakerQuery = Model.Content.Site().Descendants<Speaker>();
    //var sessionQuery = Model.Content.Site().Descendants<Session>();
    //if (sID != string.Empty)
    //{
    //    singleSpeakerQuery = Model.Content.Site().Descendants<Speaker>().Where(x => x.Id == int.Parse(sID));
    //    sessionQuery = sessionQuery.Where(x => x.SessionSpeakers.Any(i => i.Id == int.Parse(sID)));
    //};


}

@Html.Partial("Banner")

<div class="row breadcrumbs">
    <div class="container">
        <a href="">HOME</a> // <span class="yellow">SPEAKERS</span>
    </div>
</div>
<div class="row">
    <div class="container noPadding">
        <div class="speakers">
            
            @foreach (var speaker in speakerQuery)
            {
                <div class="speaker col-md-3">
                    <a href="#" class="getSpeaker" data-id="@speaker.Id">
                        @try
                        {
                            <img src="@speaker.SpeakerPicture.Url" alt=""/>                    
                        }
                        catch                  
                        {
                            <img src="~/media/1002/cg-placeholder.svg" alt = ""/>
                        }

                        <h3>@speaker.SpeakerName</h3>
                        <p>@speaker.SpeakerTitle</p>
                    </a>
                </div>
            }


        </div>
    </div>
</div>
