@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Speakers>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "SiteMaster.cshtml";

    var speakerQuery = Model.Content.Site().Descendants<Speaker>();
    //var sID = (Request["sID"] != null) ? Request["sID"] : string.Empty;
    //var singleSpeakerQuery = Model.Content.Site().Descendants<Speaker>();
    //var sessionQuery = Model.Content.Site().Descendants<Session>();
    //if (sID != string.Empty)
    //{
    //    singleSpeakerQuery = Model.Content.Site().Descendants<Speaker>().Where(x => x.Id == int.Parse(sID));
    //    sessionQuery = sessionQuery.Where(x => x.SessionSpeakers.Any(i => i.Id == int.Parse(sID)));
    //};


}

<div class="row page-banner">
    <div class="center">
        <img src="../media/page-banner.jpg" alt="">
        <div class="overlay">
            <h1>Codegarden 2018 speakers</h1>
        </div>
    </div>
</div>
<div class="row breadcrumbs">
    <div class="container">
        <a href="">HOME</a> // <span class="yellow">SPEAKERS</span>
    </div>
</div>
<div class="row">
    <div class="container noPadding">
        <div class="speakers">
            
            @foreach (var speaker in speakerQuery)
            {
                <div class="speaker col-md-3">
                    <a href="#" class="getSpeaker" data-id="@speaker.Id">
                        @try
                        {
                            <img src="@speaker.SpeakerPicture.Url" alt=""/>                    
                        }
                        catch                  
                        {
                            <img src="~/media/1002/cg-placeholder.svg" alt = ""/>
                        }

                        <h3>@speaker.SpeakerName</h3>
                        <p>@speaker.SpeakerTitle</p>
                    </a>
                </div>
            }


        </div>
    </div>
</div>

<div class="modal">
    <a class="close" href="#"><div></div><div></div></a>
    <div class="speaker-profile">
        
                @try
                {
                    <img id="speakerPicture" class="profile-picture" src="" alt=""/>
                }
                catch
                {
                    <img id="speakerPicture" class="profile-picture" src="~/media/1002/cg-placeholder.svg" alt="" />
                }

            <h2 id="speakerName"></h2>
       
            <p id="speakerTitle" class="title"></p>
            <span class="social-links">
                <a id="speakerFacebook" href="" target="_blank"><img src="~/media/SocialMediaIcons/yellow-facebook.svg" alt=""></a>
                <a id="speakerLinkedin" href="" target="_blank"><img src="~/media/SocialMediaIcons/yellow-linkedin.svg" alt=""></a>
                <a id="speakerTwitter" href="" target="_blank"><img src="~/media/SocialMediaIcons/yellow-twitter.svg" alt=""></a>
            </span>

            @*foreach (var session in sessionQuery)
            {
                <div class="session">
                    <span>@session.SessionDescriptionHeadline</span>
                    <p>@session.SessionDescription</p>
                </div>
            }*@

            <div class="info">
                <span id="speakerDescriptionHeadline"></span>
                <p id="speakerDescription"></p>
            </div>
         @*}*@
    </div>

</div>
<div class="modal-bg"></div>