@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Workshops>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "SiteMaster.cshtml";

    var workShopQuery = Model.Content.Site().Descendants<Workshop>();
}

@Html.Partial("Banner")
@Html.Partial("Breadcrumbs")
        @{
            int i = 1;
            string rowClass = "";
        }
        @foreach (var workshop in workShopQuery)
            {
                rowClass = (i == 2) ? rowClass = "coloured" : rowClass = "";
            <div class="row @rowClass">
                <div class="container noPadding">
                    <div id="@workshop.Name.Replace(" ",string.Empty)" class="workshop">
                        <div class="col-md-3">
                            @foreach (var speaker in workshop.Speaker)
                            {

                                <div class="speakerInfo">
                                    <div class="speakerImg">
                                        @try

                                        {
                                            var SPictureID = speaker.GetPropertyValue<IPublishedContent>
                                                ("speakerPicture").Url;

                                            <img src="@SPictureID" alt="speakerPicture" />
                                        }
                                        catch
                                        {

                                            <img src="#" alt="speakerPicture" />
                                        }
                                    </div>
                                    <h4 class="yellow">@speaker.GetPropertyValue("speakerName")</h4>
                                
                                </div>


                            }
                            <div class="workshopInfo center">
                                <h4 class="yellow">45/75 spots filled</h4>
                                <a class="btn-secondary" target="_blank" href="https://shop.umbraco.com/shop/cart/?p=7133&n=963">Sign up now!</a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <h2>@workshop.WorkshopHeadline</h2>
                            <p>@workshop.WorkshopDescription</p>
                            <ul>

                                @foreach (var wyl in workshop.WhatYouLearn)
                                {
                                    <li>@wyl</li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            i++;
        }
